.container{
    text-align: center;
    margin-top: 100px;
    height: auto;
}
h1{
    font-size:50px;
}
img{
    width:800px;
    height: auto;
}
button{
    background-color:rgb(62, 194, 10);
    color: white;
}
.text{
    text-align: center;
}